/* Global style */

@import url(http://fonts.googleapis.com/css?family=Poly:400,400italic);
@import url('http://fonts.googleapis.com/css?family=Merriweather:300,400,300italic');

$heading-font: 'Poly', serif;
$text-font: 'Merriweather', serif;

body {
  background: #f9f9f9;
  font-family: $text-font;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
}

a {
  text-decoration: none;

  &:link {
    color: $link-color;
  }

  &:visited {
    color: $visited-link-color;
  }

  &:hover {
    color: $hover-link-color;
  }
}
