---
---

@charset "utf-8";

@import 'flexbox';
@import 'reset';

@import url('http://fonts.googleapis.com/css?family=Poly:400,400italic');
@import url('http://fonts.googleapis.com/css?family=Merriweather:300,400,300italic');

$link-color: #3498db;
$visited-link-color: #3498db;
$hover-link-color: #3498db;

$heading-font: 'Poly', serif;
$text-font: 'Merriweather', serif;

body {
    background: #f9f9f9;
    font-family: $text-font;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font;
}

a {
    text-decoration: none;

    &:link {
        color: $link-color;
    }

    &:visited {
        color: $visited-link-color;
    }

    &:hover {
        color: $hover-link-color;
    }
}

.home {
    header {
        height: 600px;
        overflow: auto;
        text-align: center;

        h1 {
            width: 400px;
            margin: 10px auto 25px;

            font-style: italic;
            font-weight: 400;
            font-size: 4em;
            border-bottom: 1px solid #893843;
        }

        .tagline {
            display: block;
            margin: 0 auto;
            width: 400px;

            font-size: 1.1em;
        }

    }

    .links {
        width: 100%;
        text-align: center;

        li {
            display: inline-block;
            font-size: 1.8em;
        }

        li+li:before {
            content: "\A0·\A0";
        }
    }
}
