/* Home page layout */

.home {
  height: 600px;
  overflow: auto;
  text-align: center;

  h1 {
    width: 400px;
    margin: 10px auto 25px;
  }

  .tagline {
    display: block;
    margin: 0 auto;
    width: 400px;
  }
}

section {
  width: 60%;
  margin: 0 auto;

  img {
    float: left;
  }

  .library {
    @include row();

    .logo {
      @include column(4);
      text-align: center;
    }

    .desc {
      @include column(8);
    }
  }
}
