/* Home page style */

.home {
  h1 {
    font-style: italic;
    font-weight: 400;
    font-size: 4em;
    border-bottom: 1px solid #893843;
  }

  .tagline {
    font-size: 1.1em;
  }
}

.libraries {
  h1 {
    font-size: 3em;
    font-weight: 400;
  }

  a {
    font-size: 2.8em;
    font-weight: 400;
  }
}
