---
---

@charset "utf-8";

main {
  section {
    h2 {

    }

    .templates {
      display: flex;
      flex-direction: row;

      .mockup {
        width: 800px;

        .screen {
          img {
            height: 100%;
          }
        }
      }

      .desc {
        h4 {
        }

      }
    }
  }
}
